x-common-data:
  # Startup params
  - &seafile_server_hostname "seafile.example.com"
  - &seafile_server_protocol "http"
  - &seafile_server_url "http://seafile.example.com"
  - &seadoc_server_url "http://seafile.example.com/sdoc-server"
  - &time_zone "UTC"
  - &jwt_private_key "changeme"

  # Database config
  - &db_host "db"
  - &db_user "seafile"
  - &db_password "changeme"
  - &db_ccnet_db_name "ccnet_db"
  - &db_seafile_db_name "seafile_db"
  - &db_seahub_db_name "seahub_db"

  # Cache config
  - &cache_provider "redis"

  ## Redis config
  - &redis_host "redis"
  - &redis_port "6379"
  - &redis_password "changeme"

  ## Memcached config
  - &memcached_host "memcached"
  - &memcached_port "11211"

  # Initial variables
  - &init_db_root_password "changeme"
  - &init_seafile_admin_email "me@example.com"
  - &init_seafile_admin_password "changeme"

  # Extensions

  ## Seadoc
  - &enable_seadoc "true"

  ## Notification
  - &enable_notification_server "false"
  - &notification_server_url ""

  ## Seafile AI
  - &enable_seafile_ai "false"
  - &seafile_ai_llm_type "openai"
  - &seafile_ai_llm_url ""
  - &seafile_ai_llm_key ""
  - &seafile_ai_llm_model "gpt-4o-mini"

  ## Metadata
  - &md_file_count_limit "100000"

  # Ports
  - &port_http "31080:80"
  - &port_https "31081:443"


volumes:
  seafile-caddy:
    driver: local
  seafile-seadoc:
    driver: local
  seafile-db:
    driver: local
  seafile-data:
    driver: local
  seafile-redis:
    driver: local

services:
  # ===========================================================================
  # ----- Caddy -----
  # ===========================================================================
  caddy:
    image: lucaslorentz/caddy-docker-proxy:2.9-alpine
    restart: unless-stopped
    container_name: seafile-caddy
    ports:
      - *port_http
      - *port_https
    environment:
      - CADDY_INGRESS_NETWORKS=seafile-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - seafile-caddy:/data/caddy
    networks:
      - seafile-net
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:2019/metrics || exit 1"]
      start_period: 20s
      interval: 20s
      timeout: 5s
      retries: 3

  # ===========================================================================
  # ----- Seadoc -----
  # ===========================================================================
  seadoc:
    image: seafileltd/sdoc-server:2.0-latest
    container_name: seadoc
    restart: unless-stopped
    volumes:
      - seafile-seadoc:/shared
    # ports:
    #   - "80:80"
    environment:
      DB_HOST: *db_host
      DB_PORT: 3306
      DB_USER: *db_user
      DB_PASSWORD: *db_password
      DB_NAME: *db_seahub_db_name
      TIME_ZONE: *time_zone
      JWT_PRIVATE_KEY: *jwt_private_key
      NON_ROOT: false
      SEAHUB_SERVICE_URL: *seafile_server_url
    labels:
      caddy: *seafile_server_url
      caddy.@ws.0_header: "Connection *Upgrade*"
      caddy.@ws.1_header: "Upgrade websocket"
      caddy.0_reverse_proxy: "@ws {{upstreams 80}}"
      caddy.1_handle_path: "/socket.io/*"
      caddy.1_handle_path.0_rewrite: "* /socket.io{uri}"
      caddy.1_handle_path.1_reverse_proxy: "{{upstreams 80}}"
      caddy.2_handle_path: "/sdoc-server/*"
      caddy.2_handle_path.0_rewrite: "* {uri}"
      caddy.2_handle_path.1_reverse_proxy: "{{upstreams 80}}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - seafile-net

  # ===========================================================================
  # ----- Seafile Server -----
  # ===========================================================================
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: *init_db_root_password
      MYSQL_LOG_CONSOLE: true
      MARIADB_AUTO_UPGRADE: 1
    volumes:
      - seafile-db:/var/lib/mysql
    networks:
      - seafile-net
    healthcheck:
      test:
        [
          "CMD",
          "/usr/local/bin/healthcheck.sh",
          "--connect",
          "--mariadbupgrade",
          "--innodb_initialized",
        ]
      interval: 20s
      start_period: 30s
      timeout: 5s
      retries: 10

  redis:
    image: redis
    container_name: seafile-redis
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$$REDIS_PASSWORD"
    environment:
      REDIS_PASSWORD: *redis_password
    networks:
      - seafile-net
    volumes:
      - seafile-redis:/data

  seafile:
    image: seafileltd/seafile-mc:13.0-latest
    container_name: seafile
    restart: unless-stopped
    # ports:
    #   - "80:80"
    volumes:
      - seafile-data:/shared
    environment:
      SEAFILE_MYSQL_DB_HOST: *db_host
      SEAFILE_MYSQL_DB_PORT: 3306
      SEAFILE_MYSQL_DB_USER: *db_user
      SEAFILE_MYSQL_DB_PASSWORD: *db_password
      INIT_SEAFILE_MYSQL_ROOT_PASSWORD: *init_db_root_password
      SEAFILE_MYSQL_DB_CCNET_DB_NAME: *db_ccnet_db_name
      SEAFILE_MYSQL_DB_SEAFILE_DB_NAME: *db_seafile_db_name
      SEAFILE_MYSQL_DB_SEAHUB_DB_NAME: *db_seahub_db_name
      TIME_ZONE: *time_zone
      INIT_SEAFILE_ADMIN_EMAIL: *init_seafile_admin_email
      INIT_SEAFILE_ADMIN_PASSWORD: *init_seafile_admin_password
      SEAFILE_SERVER_HOSTNAME: *seafile_server_hostname
      SEAFILE_SERVER_PROTOCOL: *seafile_server_protocol
      SITE_ROOT: /
      NON_ROOT: false
      JWT_PRIVATE_KEY: *jwt_private_key
      SEAFILE_LOG_TO_STDOUT: false
      ENABLE_GO_FILESERVER: true
      ENABLE_SEADOC: *enable_seadoc
      SEADOC_SERVER_URL: *seadoc_server_url
      CACHE_PROVIDER: *cache_provider
      REDIS_HOST: *redis_host
      REDIS_PORT: *redis_port
      REDIS_PASSWORD: *redis_password
      MEMCACHED_HOST: *memcached_host
      MEMCACHED_PORT: *memcached_port
      ENABLE_NOTIFICATION_SERVER: *enable_notification_server
      INNER_NOTIFICATION_SERVER_URL: http://notification-server:8083
      NOTIFICATION_SERVER_URL: *notification_server_url
      ENABLE_SEAFILE_AI: *enable_seafile_ai
      SEAFILE_AI_SERVER_URL: http://seafile-ai:8888
      SEAFILE_AI_SECRET_KEY: *jwt_private_key
      MD_FILE_COUNT_LIMIT: *md_file_count_limit
    labels:
      caddy: *seafile_server_url
      caddy.reverse_proxy: "{{upstreams 80}}"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - seafile-net

networks:
  seafile-net:
    name: seafile-net
