# -------------------------------------------------------------------------------------
# USER CONFIGURATION
# This section of the file contains the values you will need to edit to customise your
# instance. You can read more about different configuration options in the Seafile
# documentation, although do note that the variables are named slightly differently
# in this deployment configuration.
#
# https://manual.seafile.com/latest/setup/setup_ce_by_docker/#getting-started
# 
# If you're running Seafile behind a reverse proxy, check the guide here on how
# to get it setup with HTTPS: https://github.com/soni801/seafile-truenas/blob/main/seafile-reverse-proxy.md
# -------------------------------------------------------------------------------------
x-common-data:
  # Volume configuration
  # ONLY EDIT THE VALUE BEFORE THE COLON (:). The value after the colon is the internal
  # mount point in the respective Docker containers. This has to be included here because
  # of a limitation in YAML aliases.
  - &seafile_volume "/opt/seafile-data:/shared"
  - &mysql_volume "/opt/seafile-mysql/db:/var/lib/mysql"
  - &caddy_volume "/opt/seafile-caddy:/data/caddy"
  - &seadoc_volume "/opt/seadoc-data:/shared"

  # Server connection info
  - &seafile_server_hostname "127.0.0.1"  # The URL/IP you use to access the web interface, excluding port
  - &seafile_server_protocol "http"  # Either "http" or "https"
  # These next two have to be explicitly declared due to a limitation in YAML aliases
  - &seafile_server_url "http://127.0.0.1"  # The exact value of the entire URL, including both protocol and hostname
  - &seadoc_server_url "http://127.0.0.1/sdoc-server"  # The same as &seafile_server_url, with "/sdoc-server" appended

  # Port configuration
  # Only edit the value before the colon, as the value after the colon once again references the internal port assignment
  - &port_http "30022:80"
  - &port_https "30023:443"

  # Database config
  - &db_password "changeme"  # Password for the "seafile" db user (used internally)
  - &init_db_root_password "changeme"  # Initial password for the db root user during setup
  - &redis_password "changeme"

  # The initial administrator user account created upon first launch
  - &init_seafile_admin_email "me@example.com"
  - &init_seafile_admin_password "changeme"

  # Misc.
  - &time_zone "Etc/UTC"  # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  - &jwt_private_key "changeme"

  # Extensions

  ## Seadoc
  # SeaDoc is an extension of Seafile that provides an online collaborative document editor
  # https://manual.seafile.com/latest/extension/setup_seadoc/
  - &enable_seadoc "true"

  ## Notification
  - &enable_notification_server "false"
  - &notification_server_url ""

  ## Seafile AI
  - &enable_seafile_ai "false"
  - &seafile_ai_llm_type "openai"
  - &seafile_ai_llm_url ""
  - &seafile_ai_llm_key ""
  - &seafile_ai_llm_model "gpt-4o-mini"

  ## Metadata
  - &md_file_count_limit "100000"


services:
  # ===========================================================================
  # ---------------------------------- Caddy ----------------------------------
  # ===========================================================================
  caddy:
    image: lucaslorentz/caddy-docker-proxy:2.9-alpine
    restart: unless-stopped
    container_name: seafile-caddy
    ports:
      - *port_http
      - *port_https
    environment:
      - CADDY_INGRESS_NETWORKS=seafile-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - seafile-caddy:/data/caddy
    networks:
      - seafile-net
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:2019/metrics || exit 1"]
      start_period: 20s
      interval: 20s
      timeout: 5s
      retries: 3

  # ===========================================================================
  # --------------------------------- Seadoc ----------------------------------
  # ===========================================================================
  seadoc:
    image: seafileltd/sdoc-server:2.0-latest
    container_name: seadoc
    restart: unless-stopped
    volumes:
      - seafile-seadoc:/shared
    # ports:
    #   - "80:80"
    environment:
      DB_HOST: "db"
      DB_PORT: 3306
      DB_USER: "seafile"
      DB_PASSWORD: *db_password
      DB_NAME: "seahub_db"
      TIME_ZONE: *time_zone
      JWT_PRIVATE_KEY: *jwt_private_key
      NON_ROOT: false
      SEAHUB_SERVICE_URL: *seafile_server_url
    labels:
      caddy: *seafile_server_url
      caddy.@ws.0_header: "Connection *Upgrade*"
      caddy.@ws.1_header: "Upgrade websocket"
      caddy.0_reverse_proxy: "@ws {{upstreams 80}}"
      caddy.1_handle_path: "/socket.io/*"
      caddy.1_handle_path.0_rewrite: "* /socket.io{uri}"
      caddy.1_handle_path.1_reverse_proxy: "{{upstreams 80}}"
      caddy.2_handle_path: "/sdoc-server/*"
      caddy.2_handle_path.0_rewrite: "* {uri}"
      caddy.2_handle_path.1_reverse_proxy: "{{upstreams 80}}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - seafile-net

  # ===========================================================================
  # ----------------------------- Seafile Server ------------------------------
  # ===========================================================================
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: *init_db_root_password
      MYSQL_LOG_CONSOLE: true
      MARIADB_AUTO_UPGRADE: 1
    volumes:
      - seafile-db:/var/lib/mysql
    networks:
      - seafile-net
    healthcheck:
      test:
        [
          "CMD",
          "/usr/local/bin/healthcheck.sh",
          "--connect",
          "--mariadbupgrade",
          "--innodb_initialized",
        ]
      interval: 20s
      start_period: 30s
      timeout: 5s
      retries: 10

  redis:
    image: redis
    container_name: seafile-redis
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$$REDIS_PASSWORD"
    environment:
      REDIS_PASSWORD: *redis_password
    networks:
      - seafile-net
    volumes:
      - seafile-redis:/data

  seafile:
    image: seafileltd/seafile-mc:13.0-latest
    container_name: seafile
    restart: unless-stopped
    # ports:
    #   - "80:80"
    volumes:
      - seafile-data:/shared
    environment:
      SEAFILE_MYSQL_DB_HOST: "db"
      SEAFILE_MYSQL_DB_PORT: 3306
      SEAFILE_MYSQL_DB_USER: "seafile"
      SEAFILE_MYSQL_DB_PASSWORD: *db_password
      INIT_SEAFILE_MYSQL_ROOT_PASSWORD: *init_db_root_password
      SEAFILE_MYSQL_DB_CCNET_DB_NAME: "ccnet_db"
      SEAFILE_MYSQL_DB_SEAFILE_DB_NAME: "seafile_db"
      SEAFILE_MYSQL_DB_SEAHUB_DB_NAME: "seahub_db"
      TIME_ZONE: *time_zone
      INIT_SEAFILE_ADMIN_EMAIL: *init_seafile_admin_email
      INIT_SEAFILE_ADMIN_PASSWORD: *init_seafile_admin_password
      SEAFILE_SERVER_HOSTNAME: *seafile_server_hostname
      SEAFILE_SERVER_PROTOCOL: *seafile_server_protocol
      SITE_ROOT: /
      NON_ROOT: false
      JWT_PRIVATE_KEY: *jwt_private_key
      SEAFILE_LOG_TO_STDOUT: false
      ENABLE_GO_FILESERVER: true
      ENABLE_SEADOC: *enable_seadoc
      SEADOC_SERVER_URL: *seadoc_server_url
      CACHE_PROVIDER: "redis"
      REDIS_HOST: "redis"
      REDIS_PORT: 6379
      REDIS_PASSWORD: *redis_password
      MEMCACHED_HOST: "memcached"
      MEMCACHED_PORT: 11211
      ENABLE_NOTIFICATION_SERVER: *enable_notification_server
      INNER_NOTIFICATION_SERVER_URL: http://notification-server:8083
      NOTIFICATION_SERVER_URL: *notification_server_url
      ENABLE_SEAFILE_AI: *enable_seafile_ai
      SEAFILE_AI_SERVER_URL: http://seafile-ai:8888
      SEAFILE_AI_SECRET_KEY: *jwt_private_key
      MD_FILE_COUNT_LIMIT: *md_file_count_limit
    labels:
      caddy: *seafile_server_url
      caddy.reverse_proxy: "{{upstreams 80}}"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - seafile-net

networks:
  seafile-net:
    name: seafile-net
